{% extends 'base.html.twig' %}

{% block title %}Nouvelle Offre de Stage{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nouvelle Offre de Stage</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Créer</button>
        {{ form_end(form) }}
        <a href="{{ path('admin_offre_index') }}">Retour à la liste</a>
    </div>
{% endblock %}